.act-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: white;
    width: 82%;
    margin: 1em auto;
    background-color: darkslategray;
    
}

.actor__Header{
    justify-content: center;
}

#actor__Image{
    max-width: 10%;
    max-height: 10%;
}

#button-addon2 {
    color: white;
    border-color: white;
    margin-left: 5px;
}
