@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

.search-wrapper {
    margin-left: autox;
    margin-top: 10px;

    max-width: 800px;

    padding-right: 1px;
    padding-left: 10px;
}