.UserAccount__container {
   
    display: flex;
}

.UAlogout__btn{
   
        padding: 10px;
        font-size: 18px;
        margin-bottom: 10px;
        border: none;
        color: white;
        background-color: black;
      
}
.UserAccount__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
.UserAccount__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: black;
    background-color: rgb(255, 255, 255);
  }