.UserAccount__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
  border-color: black;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.updateEmail{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.updatePass{
    display: flex;
    align-items: center;
    justify-content: center;
}
.confPass{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.AdminButton{
  border-color: rgb(0, 0, 0);
  background-color: rgb(177, 177, 177);
  margin-bottom: 20px;
  align-items: center;
}
.UserAccount__textBox {
    padding: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.UserAccount__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .UserAccountpsswd__btn{
    background-color: rgb(177, 177, 177);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }